@import '@angular/cdk/overlay-prebuilt.css';

/*
Create a root stacking context
*/
app-root {
    isolation: isolate;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--font-sans: ''
}

:root {
--body: theme('colors.tertiary.50');
--text-menu: theme('colors.secondary.500');
--text-body: theme('colors.secondary.500');
--background: 0 0% 100%;
--foreground: 240 10% 3.9%;
--card: 0 0% 100%;
--card-foreground: 240 10% 3.9%;
--popover: 0 0% 100%;;
--popover-foreground: 240 10% 3.9%;
--primary: 240 5.9% 10%;
--primary-foreground: 0 0% 98%;
--secondary: 240 4.8% 95.9%;
--secondary-foreground: 240 5.9% 10%;
--muted: 240 4.8% 95.9%;
--muted-foreground: 240 3.8% 46.1%;
--accent: 240 4.8% 95.9%;
--accent-foreground: 240 5.9% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 0 0% 98%;
--border: 240 5.9% 90%;
--input: var(--text-body);
--header-1: theme('colors.secondary.600');
--header-2: theme('colors.secondary.600');
--header-3: theme('colors.secondary.600');
--label: theme('colors.secondary.400');
--ring: 240 5.9% 10%;
--radius: 0.75rem;
}

.dark {
--body: theme('colors.primary.900');
--text-menu: theme('colors.tertiary.500');
--text-body: theme('colors.tertiary.500');
--background: 240 10% 3.9%;
--foreground: 0 0% 98%;
--card: 240 10% 3.9%;
--card-foreground: 0 0% 98%;
--popover: 240 10% 3.9%;
--popover-foreground: 0 0% 98%;
--primary: 0 0% 98%;
--primary-foreground: 240 5.9% 10%;
--secondary: 240 3.7% 15.9%;
--secondary-foreground: 0 0% 98%;
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
--accent: 240 3.7% 15.9%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--border: 240 3.7% 15.9%;
--input: var(--text-body);
--header-1: theme('colors.tertiary.50');
--header-2: theme('colors.tertiary.100');
--header-3: theme('colors.tertiary.200');
--label: theme('colors.tertiary.600');
--ring: 240 4.9% 83.9%;
}

/*
Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
    background-color: var(--body);
    overflow-x: hidden;
}

/*
Avoid text overflows
*/
a,
p,
h4,
h5,
h6,
span,
ng-icon {
    overflow-wrap: break-word;
    color: var(--text-body);
}


h1 {
    color: var(--header-1);
}
h2 {
    color: var(--header-2);
}
h3 {
    color: var(--header-3);
}
label {
    color: var(--label);
}

dark.h1 {
    color: #F6F6F6;
}

input,
textarea {
    color: var(--input);
}
